---
import telecom from "../../assets/inicio/productos/telecom.png";
import automatizacion from "../../assets/inicio/productos/automatizacion.png";
import refrigeracion from "../../assets/inicio/productos/refrigeracion.png";
import sanitizacion from "../../assets/inicio/productos/sanitizacion.png";
import rectangulo from "../../assets/inicio/productos/rectangulo.png";
---
<section class="w-full ">
    <!-- Rectangulo izquierda-->
    <img
        src={rectangulo.src}
        alt=""
        class="w-60 md:w-280 pointer-events-none md:mb-40 mt-10"
    />

    <!-- PRODUCTO 01 -->
    <div class="flex flex-col md:flex-row  w-5/6 mx-auto md:w-full gap-5 md:gap-0 mt-5 md:mt-0">


        <div class="md:w-1/2 flex flex-col items-center md:items-start md:justify-center md:px-40 md:py-16 text-center md:text-left">

            <h2 class="md:text-3xl font-semibold md:font-bold text-[#0C6077] mb-6">
                Telecomunicaciones y Conectividad
            </h2>

            <p class="text-textos md:font-medium mb-6 text-xs md:text-base">
                Suministro de hardware avanzado para redes industriales, enlaces de datos robustos y conectividad crítica.
            </p>

            <span class="font-semibold text-[#0C6077] mb-8">
                Teltonika Networks
            </span>

            <a href="/productos/telecomunicaciones" class="bg-[#1D5F73] text-xs md:text-base text-white md:px-8 md:py-3 py-2 rounded-full md:w-fit w-4/5">
                Ver productos →
            </a>

        </div>

        <div class="md:w-1/2 bg-[#1D5F73] relative flex flex-col md:flex-row items-center justify-center h-40 md:min-h-[450px]">
            <img
                src={telecom.src}
                alt="Telecomunicaciones"
                class="w-1/2 md:w-95"
            />
            <span class="md:absolute bottom-6 right-8 text-xl md:text-8xl text-white/30">
                01
            </span>
        </div>
         

    </div>

    <!-- PRODUCTO 02 -->

    <div class="flex flex-col-reverse md:flex-row w-5/6 mx-auto md:w-full gap-5 md:gap-0 mt-10 md:mt-0">


        <div class="md:w-1/2 bg-[#1D5F73] relative flex flex-col md:flex-row items-center justify-center h-40 md:min-h-[450px]">

            <img
                src={automatizacion.src}
                alt="Automatización"
                class="w-1/2 md:w-95"
            />
            <span class="md:absolute bottom-6 right-8 text-xl md:text-8xl text-white/30">
                02
            </span>


        </div>


       <div class="md:w-1/2 flex flex-col items-center md:items-end md:justify-end md:px-40 md:py-16 text-center md:text-right">

            <h2 class="md:text-3xl font-semibold md:font-bold text-[#0C6077] mb-6">
                Automatizacion, Control y Sistemas de IA
            </h2>

            <p class="text-textos md:font-medium mb-6 text-xs md:text-base">
                Equipamiento enfocado en la transición hacia la industria 4.0, optimización y estandarización de procesos bajo normativas internacionales.
            </p>

            <a href="productos/automatizacion" class="bg-[#1D5F73] text-xs md:text-base text-white md:px-8 md:py-3 py-2 rounded-full md:w-fit w-4/5">
                ← Ver productos
            </a>

        </div>

    </div>
    <!-- PRODUCTO 03 -->

    <div class="flex flex-col md:flex-row  w-5/6 mx-auto md:w-full gap-5 md:gap-0 mt-10 md:mt-0">


        <div class="md:w-1/2 flex flex-col items-center md:items-start md:justify-center md:px-40 md:py-16 text-center md:text-left">

            <h2 class="md:text-3xl font-semibold md:font-bold text-[#0C6077] mb-6">
                Refrigeración Industrial y Cocción Especializada
            </h2>

            <p class="text-textos md:font-medium mb-6 text-xs md:text-base">
                Soluciones de refrigeración comercial/industrial y equipamiento térmico de precisión para la cadena de valor alimentaria y de transformación.
            </p>

            <span class="font-semibold text-[#0C6077] mb-8">
                Infrico, Unox
            </span>

            <a href="/productos/refrigeracion" class="bg-[#1D5F73] text-xs md:text-base text-white md:px-8 md:py-3 py-2 rounded-full md:w-fit w-4/5">
                Ver productos →
            </a>

        </div>


        <div class="md:w-1/2 bg-[#1D5F73] relative flex flex-col md:flex-row items-center justify-center h-40 md:min-h-[450px]">
            <img
                src={refrigeracion.src}
                alt="Telecomunicaciones"
                class="w-1/2 md:w-95"
            />
            <span class="md:absolute bottom-6 right-8 text-xl md:text-8xl text-white/30">
                03
            </span>
        </div>

    </div>

    <!-- PRODUCTO 04 -->


    <div class="flex flex-col-reverse md:flex-row w-5/6 mx-auto md:w-full gap-5 md:gap-0 mt-10 md:mt-0">


        <div class="md:w-1/2 bg-[#1D5F73] relative flex flex-col md:flex-row items-center justify-center h-40 md:min-h-[450px]">

            <img
                src={sanitizacion.src}
                alt="sanitizacion"
                class="w-1/2 md:w-95"
            />
            <span class="md:absolute bottom-6 right-8 text-xl md:text-8xl text-white/30">
                02
            </span>


        </div>


        <div class="md:w-1/2 flex flex-col items-center md:items-end md:justify-end md:px-40 md:py-16 text-center md:text-right">

            <h2 class="md:text-3xl font-semibold md:font-bold text-[#0C6077] mb-6">
                Sistemas de Sanitización y Lavado Profesional
            </h2>

            <p class="text-textos md:font-medium mb-6 text-xs md:text-base">
                Equipos especializados de alta eficiencia para el sector hostelero e industrial (lavalozas y sanitización automatizada).
            </p>

            <span class="font-semibold text-[#0C6077] mb-8">
                Winterhalter, Validex
            </span>

            <a href="productos/sanitizacion" class="bg-[#1D5F73] text-xs md:text-base text-white md:px-8 md:py-3 py-2 rounded-full md:w-fit w-4/5">
                ← Ver productos
            </a>

        </div>

    </div>

</section>